@using MtcMvcCore.Areas.Admin.Pages.ContentEditor.Helper
@using MtcMvcCore.Core
@using MtcMvcCore.Core.Models.Media
@model CoreMediaFolder
	
<div class="">

<div id="itemcontent"></div>

</div>


   
