@using System.Text.Json;

@model MtcMvcCore.Core.Models.Media.CoreMediaFolder

@{
    var insertOptions = "";
    if(Model.InsertOptions !=null){
        insertOptions = JsonSerializer.Serialize(Model.InsertOptions);
    }
}

<div class="treeview">
@* 
    <div class="row action-bar">
        <button class="btn">
            <i id="WebTreeView" class="bi bi-globe"></i>
        </button> 
        <i id="FileTreeView" class="bi bi-folder2-open"></i> 
    </div> 
*@
    <div class="content">
        <core-assettreeview data-api-subtreeitems="/api/core/assetlib/subitems" data-api-iteminfo="/api/core/assetlib/getiteminfo">

        	<core-assettree-item type='@Model.Type' title='@Model.Name' id='@Model.Id' data-insert-options='@insertOptions' data-has-subitems='@(Model.HasSubItems ? "true" : "false")'></core-assettree-item>

		</core-assettreeview>
    </div>

</div>