@using MtcMvcCore.Core
@model List<MtcMvcCore.Core.Models.Authentication.RoleModel>
@{
	ViewBag.Title = "RoleManager";
	Layout = $"~/{Settings.PathsCorePath}/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
	Edit
</div>
