@using MtcMvcCore.Core
@using MtcMvcCore.Core.Models.Media
@model CoreMediaFolder



			<div class="component text-primary">
				<asset-editor>
					<div class="row action-bar">
						<core-feedback-button id="SavePage">
							<button class="btn">
								<i class="bi bi-save2" title="Speichern"></i>
								Save
							</button>
						</core-feedback-button>
						<button id="DeleteBtn" class="btn">
							<i class="bi bi-trash"
								data-delete-url='@Url.Action("DeleteAsset", "AssetLib", new { Area = "Admin" })'>
								Delete </i>
						</button>
						<span class="actionbar-divider"></span>
						@* @foreach (var lang in Settings.AllowedLanguage)
							{
							<button class="btn">
							<span class="js-change-lang" data-lang="@lang"> @lang </span>
							</button>

							} *@
						<span class="ja-versions"></span>
					</div>
					<div class="content ">
						<div class="js-no-version h-hidden">No Version existing. <span class="js-create-version">Create
								a new one</span></div>
						<div class="js-version h-hidden">
							<form id="AssetFields" action="#" method="post">

							</form>
							@* <form action="#" enctype="multipart/form-data" method="post" id="imageform">
								<dl>
									<dt>
										<label for="FileUpload_FormFile">File</label>
									</dt>
									<dd>
										<input id="image" type="file" name="image" />
									</dd>
								</dl>

								<input class="btn" type="submit" value="Upload" />

								<div style="margin-top:15px">
									<output name="result"></output>
								</div>
							</form> *@
						</div>
					</div>
				</asset-editor>
			</div>

