/* body {
  font-family: "sofiapro-regular";
} */

#a11y-dialog[open] {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

details {
  margin-top: 1em;
}

.hidden {
  visibility: hidden;
}

.accessibility-dialog {
  background-color: #f1f1f1;
  position: fixed;
  width: 30em;
  max-width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 1.5em;
  color: #000000;
  border-left: solid 2px black;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.accessibility-dialog-header {
  margin-bottom: 0.5em;
}

.accessibility-dialog main {
  padding: 1rem;
  flex: 1;
}

.accessbility-setting-container {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  float: left;
  padding: 0.375rem;
}

.accessbility-close-container {
  float: left;
  clear: both;
}

.accessibility-dialog footer {
  background-color: #aaa;
  padding: 0.5rem;
  align-self: unset !important;
}

.accessibility-dialog .css-select > input + label .check-icon {
  display: none !important;
}

.accessibility-dialog .css-select > input:checked + label .check-icon {
  display: block !important;
}

.accessibility-dialog details {
  padding: 0.5em 0.5em 0;
}

.accessibility-dialog summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.accessibility-dialog details[open] {
  padding: 0.5em;
}

.accessibility-dialog details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  margin-bottom: 0.5em;
}

.left {
  display: flex;
  justify-content: space-between;
  /* float: left;
	width: 65%; */
}

.subheader {
  font-weight: 500;
  margin-bottom: 0.5em;
}

.profile-name {
  font-weight: bold;
  font-size: 16px;
}

.setting-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 12px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
}

.toggle-entry {
  margin-bottom: 1em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #1e1e1e;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: lightcoral;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.reset-btn-sticky {
  width: 100%;
}

.reset-btn-sticky:focus-visible {
  outline: 3px solid black;
}

.reset-btn {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reset-btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.reset-btn:focus-visible {
  outline: 3px solid black;
}

.profiles {
  border-top: solid 2px black;
  margin-top: 10px;
  padding-top: 10px;
}

.settings {
  border-top: solid 2px black;
  margin-top: 10px;
  padding-top: 10px;
}

/* Specific Styling */
.reset-setting-btn {
  background-color: #ffaaaad8;
  border-radius: 5px;
  color: #0d0d0d;
  padding: 15px;
  border: 0;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reset-setting-btn:hover {
  background-color: #ffaaaa;
  border-color: #0a58ca;
}

.radio-btn-section {
  margin-bottom: 10px;
  margin-right: 5px;
}

.reset-setting-btn-color {
  background-color: #ffaaaad8;
  border-radius: 5px;
  color: #0d0d0d;
  padding: 15px;
  border: 0;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reset-setting-btn-color:hover {
  background-color: #ffaaaa;
  border-color: #0a58ca;
}

.color-input-section {
  display: flex;
  align-items: center;
}

.setting-wrapper > label {
  margin-bottom: 5px;
}

.a11y-settings-row {
  display: flex;
  justify-content: space-between;
  /* float: left;
	width: 65%; */
}

.a11y-icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting-wrapper > p {
  margin: 0px;
}

.close-btn {
  all: unset;
  cursor: pointer;
}

.close-btn:focus {
  outline: blue auto 1px;
}

/* Body Classes */

.access-font-s {
  font-size: 70% !important;
}

.access-font-m {
  font-size: 100% !important;
}

.access-font-l {
  font-size: 150% !important;
}

.access-font-xl {
  font-size: 200% !important;
}

.access-linespacing-s {
  line-height: 100%;
}

.access-linespacing-m {
  line-height: 150%;
}

.access-linespacing-l {
  line-height: 200%;
}

.access-letterspacing-s {
  letter-spacing: 0px;
}

.access-letterspacing-m {
  letter-spacing: 2px;
}

.access-letterspacing-l {
  letter-spacing: 3px;
}

.access-open-dyslexic-font {
  font-family: serif;
}

.access-saturation-none {
  filter: saturate(0);
}

.access-saturation-xs {
  filter: saturate(0.35);
}

.access-saturation-s {
  filter: saturate(0.75);
}

.access-saturation-m {
  filter: saturate(1);
}

.access-saturation-l {
  filter: saturate(2);
}

.access-saturation-xl {
  filter: saturate(2.5);
}

/* .access-high-contrast {
	should be an update to the theme colors instead of CSS classes
  } */

.access-highlight-links a {
  border: solid 2px rgb(222, 188, 156);
  border-radius: 3px;
  margin: 2px;
}
.access-highlight-links .btn {
  border: solid 2px rgb(222, 188, 156);
  border-radius: 3px;
  margin: 2px;
}

.access-wordspacing-none {
  word-spacing: normal;
}

.access-wordspacing-s {
  word-spacing: 0.5rem;
}

.access-wordspacing-m {
  word-spacing: 1rem;
}

.access-wordspacing-l {
  word-spacing: 1.5rem;
}

.access-button-s {
  padding: 1em 1em !important;
}

.access-button-m button {
  padding: 2em 3em !important;
}

.access-button-l button {
  padding: 2.5em 3.5em !important;
}

.access-button-xl button {
  padding: 3em 4em !important;
}

.access-headline-l h1 {
  font-size: 5rem;
}

.access-headline-l h2 {
  font-size: 3rem;
}
