@using MtcMvcCore.Areas.Admin.Pages.ContentEditor.Helper
@using MtcMvcCore.Core
@model MtcMvcCore.Areas.Admin.Pages.ContentEditor.Models.ContentEditorTreeViewModel


<form id="PageFields" action="#" method="post" slot="item" >
@* 	
	<div class="pt-3 m-2">
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Name</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
		</div>                                    
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Titel</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
		</div>
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Beschreibung</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
		</div>
		<div class="mb-3">
			<label for="formGroupExampleInput" class="form-label">Autor</label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
		</div>
	</div> *@

	<div class="pt-3 m-2">
		@Html.Edit().RenderPageEditorFields()
	</div>

</form>

